<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#004b86">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Partners</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>
            <div class="info below-menu">
                <p><strong>Welcome!</strong></p>

                <p>We're glad you're here! We know God has a lot in store for you, and we're praying you download all of it.</p>
                <p>The Next Yes is all about what question God is asking you to say "yes" to. Our faith journey is never complete, there is always another "yes" to answer.</p>
                <p>Let God work in your heart as you consider where He is leading you on your journey.</p>

                <p><strong>Info</strong></p>
                <p>Here are a few things we think you should know.</p>
                <ul>
                    <li>Be sure to stop by the tables in the lobby. In addition to collecting puzzle peices, you'll find valuable information about our global efforts here at Grace.</li>
                    <li>Puzzle pieces? Yep! Collect all 6 for a unique reminder for The Next Yes.</li>
                    <li>Be sure to check out the <a href="/schedule">schedule</a> and <a href="/speakers">speakers</a> to stay in sync.</li>
                    <li>Head over to <a href="/contact?mmd">make my day</a> and fill out a request! Throughout today's conference we'll fulfill as many requests as we can. Yours may be chosen, so dream big!</li>
                    <li>Need prayer, have a question, or experiencing a problem? <a href="/contact">Send us a note.</a></li>
                </ul>

                <div class="godown gobtn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="white">
                        <path d="M25 32.4l-9.7-9.7 1.4-1.4 8.3 8.3 8.3-8.3 1.4 1.4z" />
                    </svg>
                    <div class="pulse"></div>
                </div>
            </div>
            <div class="modal-wrap d-none"></div>
        </div>
    </div>
    <script src="./js/content-bundle.js"></script>
</body>

</html>