<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#004b86">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Make My Day</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>
            <div class="forms below-menu d-none"></div>
            <div class="details d-none">
                <div>
                    <div class="details-header">
                        <span class="details-title">help with notes</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="white" class="close-icon">
                            <path
                                d="M25 42c-9.4 0-17-7.6-17-17S15.6 8 25 8s17 7.6 17 17-7.6 17-17 17zm0-32c-8.3 0-15 6.7-15 15s6.7 15 15 15 15-6.7 15-15-6.7-15-15-15z" />
                            <path d="M32.283 16.302l1.414 1.415-15.98 15.98-1.414-1.414z" />
                            <path d="M17.717 16.302l15.98 15.98-1.414 1.415-15.98-15.98z" />
                        </svg>
                    </div>
                    <div class="note-details details-body">
                        <ul>
                            <li>To add a new note, press the 'add a new note' item.</li>
                            <li>To edit an existing note, press anywhere on the title in the list view.</li>
                            <li>To remove a note, press the red X icon twice.</li>
                        </ul>
                        <p>Please be aware that your notes are stored locally, on your device. This means your notes are private, 
                            but it also means there is no backup. If you lose this device, or clear your browser history, you will lose your notes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/content-bundle.js"></script>
</body>

</html>