<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" href="img/icon-512.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Welcome!</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>
            <div class="notes below-menu"></div>
            <button class="btn btn-primary">new note</button>
        </div>
    </div>
    <script src="./js/content-bundle.js"></script>
</body>

</html>