<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#004b86">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Notes</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>
            <div class="noteWrap below-menu">
                <div class="notelist-title">my notes</div>
                <div class="row-spacer"></div>
                <!-- <button class="btn btn-primary newNote">new note</button> -->
                <div class="notelist">

                </div>
            </div>
            <div class="note-dialog-bg d-none"></div>
            <div class="note below-menu d-none">
                <label>create/edit note</label>
                <input type="hidden" id="noteid" />
                <div class="form-group">
                    <input type="text" name="title" class="form-control" id="title" placeholder="title"
                        autocomplete="off">
                </div>
                <div class="form-group">
                    <textarea name="note" class="form-control msgbody" id="note"></textarea>
                </div>
                <button class="btn btn-primary noteDone">done</button>
            </div>
        </div>
    </div>
    <script src="./js/content-bundle.js"></script>
    <script src="./js/note-bundle.js"></script>
</body>

</html>