<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#004b86">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Resources</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>
            <div class="resources below-menu">
                <p><strong>What is God calling you to?</strong></p>
                <p>Not sure, but want to talk about it? <a target="_blank" href="https://gracelink.ccbchurch.com/goto/forms/5359/responses/new">Give It Away staff</a> are ready and willing to meet with you.</p>
                <p>We'd love to have a conversation with you and talk through what saying yes to God looks like!</p>

                <p><strong>Resources</strong></p>
                <p>There is a <i>ton</i> of exciting information available at The Next Yes conference. But just in case you're craving more, we've compiled a list of resources we think you'd like.</p>
                <ul>
                    <li>Take a look at <a href="https://bath.gracechurches.org/giveitaway/global/globalmissionsresources/" target="_blank">global resources</a> for our Medina, Bath, and Norton campuses.</li>
                    <li>Wondering how you fit? Take the  <a target="_blank" href="https://bath.gracechurches.org/groups/shape/">SHAPE workshop!</a> The next SHAPE is starting soon, so register today.</li>
                    <li>Are you trying to figure out the best way to share Jesus in your life (family, friends, neighbors, etc.) or do you have a ministry idea? You should jump into a <a target="_blank" href="https://bath.gracechurches.org/salt-and-light/">Salt and Light gathering!</a></li>
                    <li>Want to GO & DO? GO Teams are a great next yes! Follow the links for more information</li>
                    <ul>
                        <li><a target="_blank" href="https://bath.gracechurches.org/giveitaway/global/goteams/">Bath GO Teams</a></li>
                        <li><a target="_blank" href="https://medinaeast.gracechurches.org/missionandmissions/">Medina East GO Teams</a></li>
                        <li><a target="_blank" href="https://norton.gracechurches.org/giveitaway/globalministries/">Norton GO Teams</a></li>
                    </ul>      
                </ul>
                
                <div class="godown gobtn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="white">
                        <path d="M25 32.4l-9.7-9.7 1.4-1.4 8.3 8.3 8.3-8.3 1.4 1.4z" />
                    </svg>
                    <div class="pulse"></div>
                </div>

            </div>
        </div>
    </div>
    <script src="./js/content-bundle.js"></script>
</body>

</html>