<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#004b86">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Resources</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>
            <div class="resources below-menu">
                <p>There is a <i>ton</i> of exciting information available at The Next Yes conference. But just in case you're craving more, we've compiled a list of resources we think you'd like.</p>
                <ul>
                    <li>Wondering how you fit? Take the SHAPE class!.<a href="https://bath.gracechurches.org/groups/shape/">The next SHAPE is starting soon!</a></li>
                    <li>Coffee with Culture is a great way to stay abreast of what's happening in missions. You don't want to miss this. Next one is coming in 2021!</li>
                    <li>Salt and Light. The next Salt and Light class will be held on Jan 23rd, 2021.</li>
                    <li>Want to GO and do? Our <a href="https://bath.gracechurches.org/giveitaway/global/goteams/">GO teams</a> are a great next yes!</li>
                    <li>Do you want to revisit the best parts of last year's conference? We don't blame you. <a href="">Check it out here</a></li>
                    <li><a href="https://bath.gracechurches.org/giveitaway/globalmissionsresources/">Global Missions Resources</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="./js/content-bundle.js"></script>
</body>

</html>