<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" href="img/icon-512.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Welcome!</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>

            <div class="schedule below-menu">
                <h3>friday</h3>
                <div class="row sched-row row-border" data-sessid="1">
                    <div class="col-3 row-title">6:00p</div>
                    <div class="col-9 row-text">registration</div>
                </div>
                <div class="row sched-row row-border" data-sessid="2">
                    <div class="col-3 row-title">6:45p</div>
                    <div class="col-9 row-text">kickoff session</div>
                </div>
                <div class="row sched-row" data-sessid="3">
                    <div class="col-3 row-title">9:00p</div>
                    <div class="col-9 row-text">after party</div>
                </div>
                <div class="row-spacer"></div>
                <h3>saturday</h3>
                <div class="row sched-row row-border" data-sessid="4">
                    <div class="col-3 row-title">8:00a</div>
                    <div class="col-9 row-text">breakfast</div>
                </div>
                <div class="row sched-row row-border" data-sessid="5">
                    <div class="col-3 row-title">9:00a</div>
                    <div class="col-9 row-text">main session 1</div>
                </div>
                <div class="row sched-row row-border" data-sessid="6">
                    <div class="col-3 row-title">10:15a</div>
                    <div class="col-9 row-text">break</div>
                </div>
                <div class="row sched-row row-border" data-sessid="7">
                    <div class="col-3 row-title">10:30a</div>
                    <div class="col-9 row-text">workshops</div>
                </div>
                <div class="row sched-row row-border" data-sessid="8">
                    <div class="col-3 row-title">11:30</div>
                    <div class="col-9 row-text">main session 2</div>
                </div>
                <div class="row sched-row row-border" data-sessid="9">
                    <div class="col-3 row-title">12:30p</div>
                    <div class="col-9 row-text">lunch</div>
                </div>
                <div class="row sched-row row-border" data-sessid="10">
                    <div class="col-3 row-title">1:15p</div>
                    <div class="col-9 row-text">workshops</div>
                </div>
                <div class="row sched-row" data-sessid="11">
                    <div class="col-3 row-title">2:15p</div>
                    <div class="col-9 row-text">closing session</div>
                </div>
            </div>

            <div class="details d-none">;
                
            </div>
        </div> 
    </div>
    <script src="./js/content-bundle.js"></script>
</body>

</html>