<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#004b86">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Speakers</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>
            <div class="speakers">
                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/joe.jpg" />
                        <div class="speaker-name">Joe Caruso</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Joe and his wife, Mandy, began attending Grace in July of 2008 and he is currently Lead Pastor of Give It Away at the Bath Campus.</p>
                        <p>Joe is the host pastor at the Bath Campus’ Montrose location as well as the host for the online community. He works to connect and develop the needs and the dreams of the church, the inner-city and the world with the passions, gifts, and skills of the people from Grace. He’s a Buckeyes and Browns fan and loves Star Wars and superhero movies.</p>
                        <p>Joe and Mandy have been married since 2006 and have a daughter, and two dogs, and a thriving goldfish from Grace’s 2016 Family Fall Fest. They love having any kind of fun together, from hikes, to sushi, paddle-boarding and kayaking, or nerding out on behind the scenes Disney.</p>
                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/bena.jpg" />
                        <div class="speaker-name">Bena</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Nicknamed Evel Knievel by her middle school teachers, Bena has always been willing to say YES to the next challenge, whatever it may be. It was this tendency to say, “I’ll do it!” that led to Bena tutoring refugees from Cambodia as a high school student.  And those tutoring experiences taught her that it’s possible to truly connect with, love and care for people who are very different from oneself. </p>
                        <p>As Founder and Executive Director of Crossings Akron, Bena thrives on bringing order out of the chaos that is cross-cultural ministry.  Members of the Crossings family come from about 20 different countries and people groups, speak more than a dozen languages, and represent more than 20 churches, mosques and other places of worship.  It’s an amazingly diverse and vibrant community, and Bena counts it a privilege to do life with so many wonderful people.</p>
                        <p>Are you wondering what role God might have for you within the Crossings Community?  Reach out to Bena; she’d love to help you figure it out!</p>
                        <ul>
                            <li>Email: Bena@crossingsakron.com</li>
                            <li>Website: <a href="www.crossingsakron.com" target="_blank">Crossings Akron</a></li>
                        </ul>
                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/john.jpg" />
                        <div class="speaker-name">John Reaser</div>
                    </div>
                    <div class="speaker-bio">
                        <p>John and Rachel Reaser are the founders and directors of Shoulder to Shoulder (STS) Mexico. Their passion is to bring every possible resource to empower the local church, bringing hope and light to the world.</p>
                        <p>The Reasers have been missionaries in Mexico for 20 years.  Their extensive experience in church planting and development is what inspired them to establish a ministry that serves, supports and trains the church in creative and tangible ways.    As directors of STS they lead a team of missionaries who are passionate about serving the local church;  a church that is thriving, impacting the community and reproducing. When STS can help the local church expand its impact in the community, God brings a transformation in lives that lasts for all eternity.</p>
                    </div>
                </div>

                <div class="gobtn goleft">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="white">
                        <path d="M27.3 34.7L17.6 25l9.7-9.7 1.4 1.4-8.3 8.3 8.3 8.3z" />
                    </svg>
                    <div class="pulse"></div>
                </div>
                <div class="gobtn goright">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="white">
                        <path d="M22.7 34.7l-1.4-1.4 8.3-8.3-8.3-8.3 1.4-1.4 9.7 9.7z" />
                    </svg>
                    <div class="pulse"></div>
                </div>
            </div>

        </div>
    </div>
    <script src="./js/content-bundle.js"></script>
</body>

</html>