<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#004b86">
    <meta name="apple-mobile-web-app-title" content="The Next Yes">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <meta name="description" content="GIA Conference Companion App">
    <meta name="theme-color" content="#004b86" />
    <title>Speakers</title>
</head>

<body>
    <div id="app">
        <div class="alerts d-none"></div>
        <div class="content">
            <div class="menu"></div>
            <div class="speakers">
                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/jeff.jpg" />
                        <div class="speaker-name">Jeff Bogue</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Dr. Jeff. Bogue is a graduate of Grace College and Seminary, and is the Senior Pastor of Grace Church of Greater Akron, a thriving multi-campus, multi-site congregation, with over 13,000 people calling Grace their home.</p>
                        <p>At Grace, Jeff leads an excellent team to raise up pastors, missionaries, and church leaders to staff ministry works throughout the Kingdom of God. He counts it a privilege to work alongside this staff as well as Grace College in the development of these young leaders.</p>
                        <p>The Bogues have 5 wonderful sons, one beautiful daughter, and one amazing daughter in-law, and Jeff's proudest titles are that of husband and father to 7 children. He loves working alongside his family to tangibly express God’s love in ways that make Jesus make sense. </p>
                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/joe.jpg" />
                        <div class="speaker-name">Joe Caruso</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Joe and his wife, Mandy, began attending Grace in July of 2008 and he is currently Lead Pastor of Give It Away at the Bath Campus.</p>
                        <p>Joe is the host pastor at the Bath Campus’ Montrose location as well as the host for the online community. He works to connect and develop the needs and the dreams of the church, the inner-city and the world with the passions, gifts, and skills of the people from Grace. He’s a Buckeyes and Browns fan and loves Star Wars and superhero movies.</p>
                        <p>Joe and Mandy have been married since 2006 and have a daughter, and two dogs, and a thriving goldfish from Grace’s 2016 Family Fall Fest. They love having any kind of fun together, from hikes, to sushi, paddle-boarding and kayaking, or nerding out on behind the scenes Disney.</p>
                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/bena.jpg" />
                        <div class="speaker-name">Bena</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Nicknamed Evel Knievel by her middle school teachers, Bena has always been willing to say YES to the next challenge, whatever it may be. It was this tendency to say, “I’ll do it!” that led to Bena tutoring refugees from Cambodia as a high school student.  And those tutoring experiences taught her that it’s possible to truly connect with, love and care for people who are very different from oneself. </p>
                        <p>As Founder and Executive Director of Crossings Akron, Bena thrives on bringing order out of the chaos that is cross-cultural ministry.  Members of the Crossings family come from about 20 different countries and people groups, speak more than a dozen languages, and represent more than 20 churches, mosques and other places of worship.  It’s an amazingly diverse and vibrant community, and Bena counts it a privilege to do life with so many wonderful people.</p>
                        <p>Are you wondering what role God might have for you within the Crossings Community?  Reach out to Bena; she’d love to help you figure it out!</p>
                        <ul>
                            <li>Email: Bena@crossingsakron.com</li>
                            <li>Website: <a href="www.crossingsakron.com" target="_blank">Crossings Akron</a></li>
                        </ul>
                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/john.jpg" />
                        <div class="speaker-name">John Reaser</div>
                    </div>
                    <div class="speaker-bio">
                        <p>John and Rachel Reaser are the founders and directors of Shoulder to Shoulder (STS) Mexico. Their passion is to bring every possible resource to empower the local church, bringing hope and light to the world.</p>
                        <p>The Reasers have been missionaries in Mexico for 20 years.  Their extensive experience in church planting and development is what inspired them to establish a ministry that serves, supports and trains the church in creative and tangible ways.    As directors of STS they lead a team of missionaries who are passionate about serving the local church;  a church that is thriving, impacting the community and reproducing. When STS can help the local church expand its impact in the community, God brings a transformation in lives that lasts for all eternity.</p>
                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/juli.jpg" />
                        <div class="speaker-name">Juli Slattery</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Dr. Juli Slattery is a clinical psychologist and co-founder of Authentic Intimacy. Juli is
                            the host of the Java with Juli podcast and the author of ten books, including Rethinking
                            Sexuality. She is a member of the Moody Bible Institute board of trustees.</p>
                        <p> She and her husband, Mike, have three sons and live in Akron, Ohio. </p>
                        <ul>
                            <li>AuthenticIntimacy.com</li>
                            <li>Twitter: @drjulislattery</li>
                            <li>Facebook: Authentic Intimacy</li>
                            <li>Instagram: authenticintimacy</li>
                        </ul>

                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/ron.jpg" />
                        <div class="speaker-name">Ron Kent</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Ron Kent has served in various leadership positions in church and parachurch ministry since
                            2009.</p>
                        <p>Ron has been a part of 3 church plant teams and is currently an elder at Citizens Akron. He
                            is also the Ministry Director for a youth mentoring and discipleship non-profit called South
                            Akron Youth Mentorship.</p>
                        <p>He, his wife Ariel, his son Ronnie III, and daughter Alora Joy, live in Akron, Ohio. As a
                            family they are passionate about seeing God’s church become as healthy and true to form as
                            Jesus intended it to be.</p>
                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/brooke.jpg" />
                        <div class="speaker-name">Brooke Angle</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Brooke, twenty-five, has lived her twenties out in the beautiful country of Haiti. Over the
                            last year she has managed two businesses in Haiti, Bèljoy and Rosie's Boutique, which create
                            jobs and empower Haitian mamas. Currently, she is co-founding Hesed Women's Ministries,
                            planned to launch later this year. Brooke has a Bachelor’s and Master’s degree from Clark
                            Summit University in Organizational Leadership.</p>
                            <ul>
                                <li>Instagram: brookeeangle</li>
                            </ul>
                    </div>
                </div>

                <div class="speaker d-none">
                    <div class="speaker-header">
                        <img src="img/nathan.jpg" />
                        <div class="speaker-name">Nathan Wells</div>
                    </div>
                    <div class="speaker-bio">
                        <p>Nathan is the founder and the director of SEEDnet. During his years as the youth pastor at
                            Ashland Grace in Ohio, the Lord led Nathan and some teens to a low-income apartment complex
                            in Ashland to do "church" with the many kids wandering around. Through that, Nathan then
                            gathered adults for an evangelistic Bible study, which was the beginning of EastGate Bible
                            Church, Nathan's first church plant in 2006.</p>
                        <p> Since then, Nathan has felt passionate about planting and multiplying churches in
                            low-income, (S.E.E.D.) oppressed areas. Nathan believes that proclaiming the Gospel of Jesus
                            to unbelievers is the key to starting new churches.</p>
                        <p>Nathan and his wife, Jena, have written a workbook entitled, Gospeling: A Personal Guide To
                            Sharing The Gospel to empower all Christians to verbalize the Good News. They live with
                            their three crazy boys in rural Ashland with their dogs, sheep, chickens, and horse.</p>
                    </div>
                </div>

                <div class="gobtn goleft">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="white">
                        <path d="M27.3 34.7L17.6 25l9.7-9.7 1.4 1.4-8.3 8.3 8.3 8.3z" />
                    </svg>
                    <div class="pulse"></div>
                </div>
                <div class="gobtn goright">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="white">
                        <path d="M22.7 34.7l-1.4-1.4 8.3-8.3-8.3-8.3 1.4-1.4 9.7 9.7z" />
                    </svg>
                    <div class="pulse"></div>
                </div>
            </div>

        </div>
    </div>
    <script src="./js/content-bundle.js"></script>
</body>

</html>